.tudoMenosOHeader {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;

  gap: 5px;

  /*  background-color: blue; */
}

.listaDeProdutos {
  width: 940px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* background-color: aqua;*/
}

.cardProduct {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: grey;
  margin: 0.2rem;
  border-radius: 5px;
  box-sizing: border-box;
}
/* 
.mainCardImage {
  width: 200px;
  height: 200px;
} */
